a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#img_3dae042d { position:absolute; left:4%; top:16%; width:18%; background:none;  }
#img_65b495a2 { position:absolute; left:72%; top:17%; width:9%; background:none;  }
#img_7912be8c { position:absolute; left:36%; top:18%; width:7%; background:none;  }
#text_409996f1 { position:absolute; left:29%; top:44%; width:301px; height:88px; background:none;  }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#text_42f466dc { position:absolute; left:67%; top:44%; width:337px; height:61px; background:none;  }
#youtube_489b3d8 { box-sizing: border-box; position:absolute; left:23%; top:51%; width:27%; height:441px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#youtube_6e01cfea { box-sizing: border-box; position:absolute; left:67%; top:51%; width:29%; height:461px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#youtube_76fab2ac { box-sizing: border-box; position:absolute; left:23%; top:51%; width:27%; height:441px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#button_20fbc2ca { border-radius: 5px; position:absolute; left:54%; top:41%; width:150px; height:40px; background-color:#3A3A3A;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#button_76b73786 { border-radius: 5px; position:absolute; left:54%; top:54%; width:150px; height:40px; background-color:#808080;  }
#button_27dba1b5 { border-radius: 5px; position:absolute; left:54%; top:67%; width:150px; height:40px; background-color:#808080;  }
#button_1570e93 { border-radius: 5px; position:absolute; left:54%; top:81%; width:150px; height:40px; background-color:#808080;  }
#button_44235dba { border-radius: 5px; position:absolute; left:54%; top:95%; width:150px; height:40px; background-color:#808080;  }
#text_6d7f694e { position:absolute; left:4%; top:3%; width:507px; height:69px; background:none;  }
.textstyle5 { font-size:40pt; font-family:Impact, Charcoal, sans-serif; color:#000000;  }
#button_54529b61 { box-sizing: border-box; border-radius: 9px; position:absolute; left:32%; top:2%; width:161px; height:114px; background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #9898A9 50%, #878796 50%, #767683); border: 2px solid #595959;  }
.textstyle6 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#button_2bfb60a6 { box-sizing: border-box; border-radius: 9px; position:absolute; left:47%; top:2%; width:161px; height:114px; background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #4C4C54 50%, #3B3B41 50%, #2A2A2F); border: 2px solid #595959;  }
#button_a269784 { box-sizing: border-box; border-radius: 9px; position:absolute; left:47%; top:2%; width:161px; height:114px; background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #4C4C54 50%, #3B3B41 50%, #2A2A2F); border: 2px solid #595959;  }
#button_4b5655f7 { box-sizing: border-box; border-radius: 9px; position:absolute; left:62%; top:2%; width:161px; height:114px; background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #4C4C54 50%, #3B3B41 50%, #2A2A2F); border: 2px solid #595959;  }
#button_604b1853 { box-sizing: border-box; border-radius: 9px; position:absolute; left:77%; top:2%; width:161px; height:114px; background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #4C4C54 50%, #3B3B41 50%, #2A2A2F); border: 2px solid #595959;  }
#img_7a40207c { position:absolute; left:44%; top:7%; width:2%; background:none;  }
#img_19bf2780 { position:absolute; left:59%; top:7%; width:2%; background:none;  }
#img_4b1bf31 { position:absolute; left:74%; top:7%; width:2%; background:none;  }
#text_7c205189 { position:absolute; left:51%; top:22%; background:none;  }
.textstyle7 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
