a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#img_6dbc64e9 { position:absolute; left:4%; top:16%; width:18%; background:none;  }
#img_5e5c8731 { position:absolute; left:72%; top:17%; width:9%; background:none;  }
#img_c131272 { position:absolute; left:36%; top:18%; width:7%; background:none;  }
#text_2c8227ab { position:absolute; left:28%; top:43%; width:295px; height:16px; background:none;  }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#text_292d7603 { position:absolute; left:67%; top:44%; width:325px; height:23px; background:none;  }
#youtube_789175cb { box-sizing: border-box; position:absolute; left:26%; top:50%; width:22%; height:427px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#youtube_4416cfc1 { box-sizing: border-box; position:absolute; left:67%; top:50%; width:22%; height:427px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#button_300642e8 { border-radius: 5px; position:absolute; left:54%; top:41%; width:150px; height:40px; background-color:#808080;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#button_43d30ea6 { border-radius: 5px; position:absolute; left:54%; top:54%; width:150px; height:40px; background-color:#808080;  }
#button_93917a0 { border-radius: 5px; position:absolute; left:54%; top:67%; width:150px; height:40px; background-color:#808080;  }
#button_69cdf215 { border-radius: 5px; position:absolute; left:54%; top:81%; width:150px; height:40px; background-color:#3A3A3A;  }
#button_358eafcd { border-radius: 5px; position:absolute; left:54%; top:95%; width:150px; height:40px; background-color:#808080;  }
#text_3720dca3 { position:absolute; left:4%; top:3%; width:507px; height:69px; background:none;  }
.textstyle5 { font-size:40pt; font-family:Impact, Charcoal, sans-serif; color:#000000;  }
#button_1175a52f { box-sizing: border-box; border-radius: 9px; position:absolute; left:32%; top:2%; width:161px; height:114px; background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #9898A9 50%, #878796 50%, #767683); border: 2px solid #595959;  }
.textstyle6 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#button_37eddc0e { box-sizing: border-box; border-radius: 9px; position:absolute; left:47%; top:2%; width:161px; height:114px; background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #4C4C54 50%, #3B3B41 50%, #2A2A2F); border: 2px solid #595959;  }
#button_1237e3b0 { box-sizing: border-box; border-radius: 9px; position:absolute; left:47%; top:2%; width:161px; height:114px; background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #4C4C54 50%, #3B3B41 50%, #2A2A2F); border: 2px solid #595959;  }
#button_7ca1bf32 { box-sizing: border-box; border-radius: 9px; position:absolute; left:62%; top:2%; width:161px; height:114px; background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #4C4C54 50%, #3B3B41 50%, #2A2A2F); border: 2px solid #595959;  }
#button_110cb512 { box-sizing: border-box; border-radius: 9px; position:absolute; left:77%; top:2%; width:161px; height:114px; background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #4C4C54 50%, #3B3B41 50%, #2A2A2F); border: 2px solid #595959;  }
#img_4659b2a4 { position:absolute; left:44%; top:7%; width:2%; background:none;  }
#img_6a1474cc { position:absolute; left:59%; top:7%; width:2%; background:none;  }
#img_3c155b53 { position:absolute; left:74%; top:7%; width:2%; background:none;  }
#text_1042db39 { position:absolute; left:51%; top:22%; background:none;  }
.textstyle7 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
