a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#text_7e167ba { position:absolute; left:4%; top:3%; width:507px; height:69px; background:none;  }
.textstyle2 { font-size:40pt; font-family:Impact, Charcoal, sans-serif; color:#000000;  }
#text_4cd96ca5 { position:absolute; left:39%; top:21%; background:none;  }
.textstyle3 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#img_ab54f0f { position:absolute; left:66%; top:34%; width:11%; background:none;  }
#img_1ba78b38 { position:absolute; left:24%; top:34%; width:16%; background:none;  }
#text_7b7b16f5 { position:absolute; left:29%; top:30%; background:none;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#text_2d9405e2 { position:absolute; left:69%; top:31%; background:none;  }
