h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#img_70a9d3b { position:absolute; left:4%; top:16%; width:18%; background:none;  }
#text_4330c70a { position:absolute; left:4%; top:3%; width:507px; height:69px; background:none;  }
.textstyle2 { font-size:40pt; font-family:Impact, Charcoal, sans-serif; color:#000000;  }
#form_7b3a9019 { position:absolute; left:25%; top:19%; width:73%; min-height:1188px; background:none;  }
#form_7b3a9019_padding { margin: 10px; display: block;  }
#heading_19559da3 { position:absolute; left:38%; top:3%; background:none;  }
.textstyle3 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#img_518860ac { position:absolute; left:1%; top:13%; width:36%; background:none;  }
#img_6208c637 { position:absolute; left:46%; top:12%; width:29%; background:none;  }
#img_718109b3 { position:absolute; left:10%; top:52%; width:16%; background:none;  }
#img_5382d0f7 { position:absolute; left:47%; top:55%; width:30%; background:none;  }
#text_560c7b80 { position:absolute; left:5%; top:37%; width:315px; height:45px; background:none;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#text_35be079e { position:absolute; left:48%; top:38%; width:197px; height:36px; background:none;  }
#text_203728a3 { position:absolute; left:8%; top:82%; width:284px; height:36px; background:none;  }
#text_50c152 { position:absolute; left:49%; top:80%; width:228px; height:123px; background:none;  }
#button_3b348e63 { box-sizing: border-box; border-radius: 9px; position:absolute; left:32%; top:2%; width:161px; height:114px; background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #4C4C54 50%, #3B3B41 50%, #2A2A2F); border: 2px solid #595959;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle5 { text-align:center; }
.textstyle6 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#button_123e941c { box-sizing: border-box; border-radius: 9px; position:absolute; left:47%; top:2%; width:161px; height:114px; background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #4C4C54 50%, #3B3B41 50%, #2A2A2F); border: 2px solid #595959;  }
#button_360e28f { box-sizing: border-box; border-radius: 9px; position:absolute; left:47%; top:2%; width:161px; height:114px; background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #4C4C54 50%, #3B3B41 50%, #2A2A2F); border: 2px solid #595959;  }
#button_7378f204 { box-sizing: border-box; border-radius: 9px; position:absolute; left:62%; top:2%; width:161px; height:114px; background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #4C4C54 50%, #3B3B41 50%, #2A2A2F); border: 2px solid #595959;  }
#button_b3f53c5 { box-sizing: border-box; border-radius: 9px; position:absolute; left:77%; top:2%; width:161px; height:114px; background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #9898A9 50%, #878796 50%, #767683); border: 2px solid #595959;  }
#img_7bf9c708 { position:absolute; left:44%; top:7%; width:2%; background:none;  }
#img_537e61f4 { position:absolute; left:59%; top:7%; width:2%; background:none;  }
#img_154ecdc7 { position:absolute; left:74%; top:7%; width:2%; background:none;  }
#button_775da27f { box-sizing: border-box; border-radius: 9px; position:absolute; left:13%; top:76%; width:150px; height:40px; background-color:#636CA0; background: linear-gradient(to bottom,#636CA0, #2C3048 50%, #222538 50%, #181B28); border: 2px solid #34384C;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#button_bb71dda { box-sizing: border-box; border-radius: 9px; position:absolute; left:1%; top:76%; width:150px; height:40px; background-color:#636CA0; background: linear-gradient(to bottom,#636CA0, #2C3048 50%, #222538 50%, #181B28); border: 2px solid #34384C;  }
